.homepage {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* border: 2px solid orange; */
    /* height: calc(100vh- 1.5em); */
    /* height: 100vh; */
    /* height: 100%; */
    padding: 4rem;
    display: flex;
    flex-direction: row;
    background-color: #fef0ed;
    /* background-color: ; */
    /* background-color: #f4f7ba; */
    /* height: 100vh; */
  }
  .home-left{
    width: 57%;
    /* border: 2px solid green; */
  }
  .home-right{
    width: 43%;

  }
  .big-circle {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    /* background-color: #f2f2f2; */
    background-color: pink;
  }
  
  .small-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #ff69b4;
    color: #222222;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: padding 0.3s ease;
    background-color: #fef0ed;
    font-family: 'Poppins', sans-serif;

  }
  h2{
    font-family: 'Poppins', sans-serif;

  }
  /* Adjust the rotation of the small circles */
  .small-circle:nth-child(1) {
    transform: translate(-50%, -50%) rotate(0deg) translate(0, -160px) rotate(0deg);
    /* background-color:  #FF0018; */
    border: 15px solid #FF0018;
    background-color: #fef0ed;

  }
  .small-circle:nth-child(2) {
    transform: translate(-50%, -50%) rotate(60deg) translate(0, -160px) rotate(-60deg);
    border: 15px solid #FFA52C;
    
    /* background-color: #FFA52C; */
  }
  .small-circle:nth-child(3) {
    transform: translate(-50%, -50%) rotate(120deg) translate(0, -160px) rotate(-60deg);
    border: 15px solid #FFFF00; 
    /* background-color: #FFFF00; */
  }
  .small-circle:nth-child(4) {
    transform: translate(-50%, -50%) rotate(180deg) translate(0, -160px) rotate(180deg);
    border: 15px solid #008018; 
    /* background-color: #008018; */
  }
  .small-circle:nth-child(5) {
    transform: translate(-50%, -50%) rotate(240deg) translate(0, -160px) rotate(-60deg);
    border: 15px solid  #0000FF;
    /* background-color:  #0000FF; */
  }
  .small-circle:nth-child(6) {
    transform: translate(-50%, -50%) rotate(300deg) translate(0, -160px) rotate(60deg);
    border: 15px solid #A300BA;
    /* background-color: #A300BA; */
  }
  .small-circle:hover{
    cursor: pointer;
    padding: 0.4rem;
    font-size: 1rem;
  }
  
  .slider div img{
    width: 90%;
    height: 90%;
  }